!!! XML
%XRD{:xmlns => "http://docs.oasis-open.org/ns/xri/xrd-1.0"}
  %Subject= "acct:#{@user.username}@#{@hostname}"
  %Alias= "#{@base_url}feeds/#{@user.feed.id}"
  %Alias= "#{@base_url}users/#{@user.username}"
  %Link{:rel => "http://webfinger.net/rel/profile-page", :type => "text/html", :href => "#{@base_url}users/#{@user.username}"}
  -#%Link{:rel => "http://microformats.org/profile/hcard", :type => "text/html", :href => "#{@base_url}users/#{@user.username}/hcard"}
  -#%Link{:rel => "http://gmpg.org/xfn/11", :type => "text/html", :href => "#{@base_url}users/#{@user.username}"}
  %Link{:rel => "http://schemas.google.com/g/2010#updates-from", :href => "#{@base_url}feeds/#{@user.feed.id}.atom"}
  %Link{:rel => "http://ostatus.org/schema/1.0/subscribe", :href => "#{@base_url}subscriptions?url={uri}&_method=post"}
