%head
  %meta{:charset => "utf-8"}
  %title= locals[:title].nil? ? "rstat.us": "rstat.us - #{locals[:title]}"
  %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}

  -if @author
    %link{:rel => "alternate", :type => "application/atom+xml",
          :title => "OStatus Feed for #{@author.username}", :href => "/users/#{@author.username}/feed"}

  - if development?
    %script{:src => "/js/lib/jquery.equalHeights.js"}
    %script{:src => "/js/lib/dev/coffee-script.js"}
    %script{:type => "text/coffeescript", :src => "/js/main.coffee"}
    %link{:href => "/dev/screen.css", :media => "screen", :rel => "stylesheet"}

  - else
    %script{:src => "/assets/app.js"}
    <!--[if (!IE)|(gte IE 8)]><!-->
    %link{:href => "/assets/screen-datauri.css", :media => "screen", :rel => "stylesheet"}
    <!--<![endif]-->
    /[if lte IE 7]
      %link{:href => "assets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "images/mobile_icons/apple-touch-icon_114.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "images/mobile_icons/apple-touch-icon_72.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/mobile_icons/apple-touch-icon.png"}

  != yield_content :css

  - if production?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22030550-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
  != yield_content :javascript
