- updates.each do |update|
  - if !defined?(no_highlight)
    - mine = current_user.nil? ? false : (update.author.user == current_user)
  - mentioned = current_user.nil? ? false : update.mentioned?(current_user.username)
  - mine = current_user.nil? ? false : update.author.user == current_user
  .update.hentry{:class => (mentioned ? "mention " : "") + (mine ? "mine " : ""), :id => "update-#{update.id}", "data-id" => update.id, "data-name" => update.author.username}
    .author.vcard
      .avatar
        %a.url{:href => update.author.url}
          %img.photo{:alt => "avatar", :src => update.author.avatar_url}/
      %span.fn= update.author.display_name
      (<span class="nickname">#{update.author.username}</span>)
    .entry-content
      != update.to_html

    .entry-info
      %time.published{:pubdate => "pubdate", :datetime => update.created_at.iso8601}
        %a{:href => update.url, :rel => "bookmark"}= update.created_at.ago_in_words

      -if not update.referral.nil?
        .in-reply
          %a{:href => "/updates/#{update.referral.id}"}
            in reply to
            %span.name= update.referral.author.username
      -elsif not update.referral_url.nil?
        .in-reply
          %a{:href => update.referral_url}
            in reply to

    .end-links
      -# when @timeline is true, this is a list on the user's page
      -unless current_user.nil? or (current_user.author.id == update.author.id)
        %a.share{:href => "/?share=#{update.id}"} share
        |
        %a.reply{:href => "/?reply=#{update.id}"} reply

      - if current_user and update.author.id == current_user.author.id
        %form{:method => "post", :action => "/updates/#{update.id}"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
          %input.remove-update{:type => "submit", :value => "I Regret This"}

- if updates.empty?
  .empty
    There are no updates here yet
