- updates.each do |update|
  .update
    .avatar
      %img{:alt => "avatar", :src => update.user.twitter_image}/
    .content
      .name= "#{update.user.name} (#{update.user.username})"
      .text
        != update.to_html
      .date
        %a{:href => "/updates/#{update.id}"}= update.created_at.ago_in_words