- updates.each do |update|
  - mentioned = current_user.nil? ? false : update.mentioned?(current_user.username)
  .update{:class => mentioned ? "mention" : ""}
    .avatar
      %a{:href => "/users/#{update.user.username}"}
        %img{:alt => "avatar", :src => update.user.twitter_image}/
    .content
      .name= "#{update.user.name} (#{update.user.username})"
      .text
        != update.to_html
      .date
        %a{:href => "/updates/#{update.id}"}= update.created_at.ago_in_words
- if updates.empty?
  .empty
    There's no updates here yet