#main
  #left
    %h2#title
      rstat.us
  #right
    %form#update-form{ :action => "/updates", :method => "POST", :name => "update_form"}
      #update-content
        %textarea#update{:name => "text"}
      #update-info
        %a#update_button.button{:href => "javascript:document.update_form.submit()"} Update
        #update_count
          0/140

    #updates
      - current_user.updates.to_a.sort{|a, b| b.created_at <=> a.created_at }.each do |update|
        .update
          .avatar
            %img{:alt => "avatar", :src => update.user.twitter_image}/
          .update-text-wrap
            %span.name= update.user.username
            .update-text
              = update.text
            .update-date= update.created_at.ago_in_words

    #user
      .user-pic
        %img{:alt => "avatar", :src => current_user.twitter_image}/
      .user-name
        %span.name= current_user.username
      .user-stats
        .following
          following: <a href="/users/#{current_user.username}/following">#{current_user.following.count}</a>
        .followers
          followers: <a href="/users/#{current_user.username}/followers">#{current_user.followers.count}</a>
        .updates
          updates: #{current_user.updates.count}

- content_for :javascript do
  :javascript
    $(document).ready(function(){
      var update = $("#update")
      update.keyup(function(){
        $("#update_count").text((140 - update.val().length) + "/140");
        if(update.val().length > 140) {
          $("#update_button").addClass("negative");
          $("#update_button").attr("href", "#");
        } else {
          $("#update_button").removeClass("negative");
          $("#update_button").attr("href", "javascript:document.update_form.submit()");
        }
      });
    });
