- content_for :header do
  %form#update-form{ :action => "/updates", :method => "POST", :name => "update_form"}
    #update-content
      %textarea#update{:name => "text"}
    #update-info
      %a#update_button.button{:href => "#"} Update
      #update_count
        0/140
#updates
  - current_user.updates.to_a.sort{|a, b| b.created_at <=> a.created_at }.each do |update|
    .update
      .avatar
        %img{:alt => "avatar", :src => update.user.twitter_image}/
      .update-text-wrap
        %span.name= update.user.username
        .update-text
          != update.to_html
        .update-date= update.created_at.ago_in_words
#at_replies
  - current_user.at_replies.to_a.sort{|a, b| b.created_at <=> a.created_at }.each do |update|
    .update
      .avatar
        %img{:alt => "avatar", :src => update.user.twitter_image}/
      .update-text-wrap
        %span.name= update.user.username
        .update-text
          != update.to_html
        .update-date= update.created_at.ago_in_words

- content_for :javascript do
  %script{:src => "/js/update.js"}

