#main
  #left
    %h2#title
      rstat.us
  #right  
    %form#update-form
      #update-content
        %textarea
      #update-info
        %a#update_button.button{:href => "#"} Update
        #update_count
          0/140

    #updates
      .update
        .avatar
          %img{:alt => "avatar", :src => current_user.twitter_image}/
        .feed_text
          %span.name= current_user.username
          %br/
          Testing testing this stuff. Testing some more. Then some more testing and some test. Some text in this text. More. More. More. Text. More...
          .feed_date posted 3 minutes ago
        %div

    #user
      .user-pic
        %img{:alt => "avatar", :src => current_user.twitter_image}/

      .user-name
        %span.name= current_user.username
      .user-stats
        .following
          following: #{current_user.following.count}
        .followers
          followers: #{current_user.followers.count}
        .updates
          updates: #{current_user.updates.count}
