#main
  #stats
    %img{:alt => "avatar", :src => current_user.twitter_image}/
    %span.name= current_user.username
    %br/
    following: <a href="/users/#{current_user.username}/following">#{current_user.following.count}</a>
    %br/
    followers: <a href="/users/#{current_user.username}/followers">#{current_user.followers.count}</a>
    %br/
    updates: #{current_user.updates.count}
    %br/
  %textarea#update
  #update_box
    %span#update_count
      0/140
      %a#update_button.button{:href => "#"} Update
  .feed_item
    .avatar
      %img{:alt => "avatar", :src => current_user.twitter_image}/
    .feed_text
      %span.name= current_user.username
      %br/
      Testing testing this stuff. Testing some more. Then some more testing and some test. Some text in this text. More. More. More. Text. More...
      .feed_date posted 3 minutes ago
    %div
