!!! 5
%html.no-js{:lang => "en"}
  != haml :"shared/_head"
  %body.internal
    #header-wrap
      #header
        #logo
          %a{:href=>"/"}
            %h1
              rstat.us
        != haml :"shared/menu/_main"
        != haml :"shared/menu/_profile"
          
            
    != @error_bar
  
    #page
      #content
        #wrap
          != yield_content :top
          != haml :"shared/_flash"

          != yield
      
      #sidebar
        != haml :"shared/sidebar/_profile"

        / .links
        /   %a{:href => "/follow"} Would you like to follow someone not on rstat.us?
        / 
        / .links
        /   %a{:href => "/search"} Search Updates
        / 
        / .links
        /   %a{:href => "/users"} Browse rstat.us users
        / 
        / .links
        /   %a{:href => "/feeds/#{current_user.feed.id}.atom"} Atom
        / 
        / .logout
        /   %a{:href => "/logout"}
        /     Logout


    != haml :"shared/_footer"
