!!!5
%html.no-js{:lang => "en"}
  != haml :"shared/_head"
  %body
    != haml :"shared/_header"          
    != @error_bar
  
    #page
      #content-wrap
        #top
          != haml :"shared/_flash"
          != yield_content :top

        #content
          != yield
      
      #sidebar
        != haml :"shared/sidebar/_profile" unless @profile_sidebar == false
        != haml :"shared/sidebar/_help"
        != yield_content :sidebar

    != haml :"shared/_footer"
