!!!5
%html.no-js{:lang => "en"}
  != haml :"shared/_head"
  %body
    != haml :"shared/_header"          
    != @error_bar
  
    #page
      #content-wrap
        - title =  yield_content :title
        - unless title.empty?
          %h2.title #{title}
        #top
          != haml :"shared/_flash"
          != yield_content :top

        #content
          != yield
          
        != yield_content :bottom
      
      #sidebar
        != haml :"shared/sidebar/_profile" unless @profile_sidebar == false
        - if @current_user
          != haml :"shared/sidebar/_help"
        - else
          != haml :"shared/sidebar/_signup"
        != yield_content :sidebar

    != haml :"shared/_footer"
