!!! 5
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %title rstat.us
    %script{:src => "/js/jquery-1.5.1.min.js"}
    %script{:src => "/js/app.js"}
    %link{:href => "/css/reset.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/css/css3buttons.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "/css/site.css", :media => "screen", :rel => "stylesheet"}
    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22030550-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
    != yield_content :javascript
  %body
    #main
      #left
        #logo
          %a{:href=>"/"}
            %h2
              rstat.us

        - if current_user
          #profile
            %h3 Profile
            .avatar
              %img{:alt => "avatar", :src => current_user.twitter_image}/
            .userinfo
              .name
                %span.name= current_user.username
              .stats
                .following
                  Following: <a href="/users/#{current_user.username}/following">#{current_user.following.count}</a>
                .followers
                  Followers: <a href="/users/#{current_user.username}/followers">#{current_user.followers.count}</a>
                .updates
                  Updates: #{current_user.updates.count}

      #right
        #content
          != yield_content :top
          
          - if flash[:notice] || flash[:error]
            #flash
              = flash[:notice]
          
          != yield 
          
    != haml :footer
