!!! 5
%html.no-js
  != haml :_head, :locals => {:css => ['internal']}
  %body.internal
    #main
      #left
        #logo
          %a{:href=>"/"}
            %h2
              rstat.us
        - if current_user
          #profile
            %h3 Profile
            .avatar
              %a{:href=>"/users/#{current_user.username}"}
                %img{:alt => "avatar", :src => current_user.twitter_image}/
            .userinfo
              .name
                %a{:href=>"/users/#{current_user.username}"}
                  = current_user.username
              .stats
                .following
                  Following: <a href="/users/#{current_user.username}/following">#{current_user.following.count}</a>
                .followers
                  Followers: <a href="/users/#{current_user.username}/followers">#{current_user.followers.count}</a>
                .updates
                  Updates: #{current_user.updates.count}

      #right
        #content
          != yield_content :top
          
          - if flash[:notice] || flash[:error]
            #flash
              = flash[:notice]
          
          != yield 
          
    != haml :footer
