!!! 5
%html.no-js{:lang => "en"}
  != haml :"shared/_head"
  %body.internal
    #header-wrap
      #header
        #logo
          %a{:href=>"/"}
            %h1
              rstat.us
        != haml :"shared/menu/_main"
        != haml :"shared/menu/_profile"
          
            
    != @error_bar
  
    #page
      #content-wrap
        #top
          != haml :"shared/_flash"
          != yield_content :top

        #content
          != yield
      
      #sidebar
        != haml :"shared/sidebar/_profile" unless request.path_info == "/users/#{current_user.username}"
        != haml :"shared/sidebar/_help"

    != haml :"shared/_footer"
