- @profile_sidebar = false

- content_for :sidebar do
  = render :partial => "shared/sidebar/gravatar"

#profile
  %h3= "Edit Profile for @#{@user.username}"

  = form_tag(user_path(@user.username), :method => "put", :name => "profile_update_form", :id => "profile-update") do |f|
    .form-section
      = render :partial => "shared/field", :locals => {:obj => @user.author, :attr => :name, :params => params}

    .form-section
      = render :partial => "shared/field", :locals => {:attr => :password, :as => :password}
      = render :partial => "shared/field", :locals => {:attr => :password_confirm, :lbl => "Confirm Password", :as => :password}

    .form-section
      = render :partial => "shared/field", :locals => {:obj => @user.author, :attr => :email, :params => params}
      = render :partial => "shared/field", :locals => {:obj => @user.author, :attr => :website, :params => params}
      = render :partial => "shared/field", :locals => {:obj => @user.author, :attr => :bio, :as => :text, :params => params}

    .form-submit
      %input.button{:type => "submit", :value => "Save"}

- content_for :bottom do
  .linked-accounts.bottom-block
    %h4 Linked Accounts

    .linked
      - if @user.twitter?
        %img.linked-image{:src => asset_path("twitter_newbird_blue.png"), :alt => "Twitter Account"}
        .linked-name="@#{@user.twitter.nickname}"
        %form.profile-update{:action => "/users/#{@user.username}/auth/twitter", :method => "POST", :name => "profile_update_form"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
          %input.button{:type => "submit", :value => "Remove"}
      - else
        %form.profile-update{:action => "/auth/twitter", :method => "GET", :name => "profile_update_form"}
          %input.button{:type => "submit", :value => "Add Twitter Account"}
