!!! 5
%html.no-js{:lang => "en"}
  = render "shared/head", :locals => {:title => @update.text}
  %body#single-update
    = render "shared/header"
    != @error_bar
    = render "shared/flash"

    #page
      != yield
