!!! 5
%html.no-js{:lang => "en"}
  = render "shared/_head", :locals => {:title => @update.text}
  %body#single-update
    = render "shared/_header"          
    != @error_bar
    = render "shared/_flash"

    #page
      != yield
