!!! XML
%XRD{:xmlns => "http://docs.oasis-open.org/ns/xri/xrd-1.0"}
  %Subject= "acct:#{@user.username}@#{@user.author.domain}"
  %Alias= "#{@user.feed.url}"
  %Alias= "#{@base_url}users/#{@user.username}"
  %Link{:rel => "http://webfinger.net/rel/profile-page", :type => "text/html", :href => "#{@base_url}users/#{@user.username}"}
  %Link{:rel => "http://schemas.google.com/g/2010#updates-from", :href => @user.feed.url(:format => :atom)}
  %Link{:rel => "salmon", :href => "#{@user.feed.url}/salmon"}
  %Link{:rel => "http://salmon-protocol.org/ns/salmon-replies", :href => "#{@user.feed.url}/salmon"}
  %Link{:rel => "http://salmon-protocol.org/ns/salmon-mention", :href => "#{@user.feed.url}/salmon"}
  %Link{:rel => "http://ostatus.org/schema/1.0/subscribe", :template => "#{@base_url}subscriptions?url={uri}&_method=post"}
  %Link{:rel => "magic-public-key", :href => "data:application/magic-public-key,#{@user.author.public_key}"}
