#profile
  %h3= "Profile for #{@user.author.username}"

  %form#profile-update{:action => "/users/#{current_user.author.username}", :method => "POST", :name => "profile_update_form"}
    %input{:type => "hidden", :name => "_method", :value => "put"}

    - [:name, :email, :website].each do |attr|
      != haml :"users/_profile_field", :locals => {:attr => attr}

    .bio
      %div
        %label{:for => "bio"}
          Bio:
      %div
        %textarea#bio{:name  => "bio"}
          #{@user.author.bio}

      %input#update-button.button{:type => "submit", :value => "Save"}
