#profile
  %h3= "Edit Profile"

  %form#profile-update{:action => "/users/#{current_user.author.username}", :method => "POST", :name => "profile_update_form"}
    
    != haml :"shared/_field", :locals => {:obj => @user.author, :attr => :name}
    != haml :"shared/_field", :locals => {:attr => :password, :password => true}
    != haml :"shared/_field", :locals => {:attr => :password_confirm, :label => "Confirm Password", :password => true}
    != haml :"shared/_field", :locals => {:obj => @user.author, :attr => :email}
    != haml :"shared/_field", :locals => {:obj => @user.author, :attr => :website}
    != haml :"shared/_field", :locals => {:attr => :bio, :as => :text}

    %input#update-button.button{:type => "submit", :value => "Save"}

  .gravatar
    Signed up with email? Create a
    %a{:href => "http://gravatar.com"} Gravatar
    account to set and update your avatar.
  %br

  .reset-password
    %a{:href => "/users/password_reset"}
      - if current_user.hashed_password.nil?
        Set Password
      - else
        Reset Password
  %br

  %h4 Linked Accounts

  %div{:style => "height: 35px;"}
    - if @user.twitter?
      %img{:src => "/images/twitter_newbird_blue.png", :style => "height: 35px; width: 35px; vertical-align:middle; margin-top: -5px;", :alt => "Twitter Account"}
      ="#{@user.twitter.nickname}"
      %form#profile-update{:action => "/users/#{@user.username}/auth/twitter", :method => "POST", :name => "profile_update_form", :style => "float: right;"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input#update-button.button{:type => "submit", :value => "Remove"}
    - else
      %form#profile-update{:action => "/auth/twitter", :method => "GET", :name => "profile_update_form"}
        %input#update-button.button{:type => "submit", :value => "Add Twitter Account"}

  %div{:style => "height: 35px;"}
    - if @user.facebook?
      %img{:src => "/images/f_logo.png", :style => "height: 25px; width: 25px; vertical-align:middle; margin-top: -5px;", :alt => "Facebook Account"}
      ="#{@user.facebook.nickname}"
      %form#profile-update{:action => "/users/#{@user.username}/auth/facebook", :method => "POST", :name => "profile_update_form", :style => "float: right;"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input#update-button.button{:type => "submit", :value => "Remove"}
    - else
      %form#profile-update{:action => "/auth/facebook", :method => "GET", :name => "profile_update_form"}
        %input#update-button.button{:type => "submit", :value => "Add Facebook Account"}
