#profile
  %h3= "Profile for #{@user.author.username}"

  %form#profile-update{:action => "/users/#{current_user.author.username}", :method => "POST", :name => "profile_update_form"}
    %input{:type => "hidden", :name => "_method", :value => "put"}

    - [:name, :email, :website].each do |attr|
      != haml :"users/_profile_field", :locals => {:attr => attr}

    .bio
      %div
        %label{:for => "bio"}
          Bio:
      %div
        %textarea#bio{:name  => "bio"}
          #{@user.author.bio}

      %input#update-button.button{:type => "submit", :value => "Save"}

  .gravatar 
    Signed up with email? Create a 
    %a{:href => "http://gravatar.com"}
      Gravatar
    account to set and update your avatar.
  %br
  - if @user.twitter?
    %h4 Twitter
    %span= @user.twitter.nickname
  - else
    %form#profile-update{:action => "/auth/twitter", :method => "GET", :name => "profile_update_form"}
      %input#update-button.button{:type => "submit", :value => "Add Twitter Account"}
  %br
  - if @user.facebook?
    %h4 Facebook
    %span= @user.facebook.nickname
  - else
    %form#profile-update{:action => "/auth/facebook", :method => "GET", :name => "profile_update_form"}
      %input#update-button.button{:type => "submit", :value => "Add Facebook Account"}
  

