%h1 #{title}
%ul.user-list
  - @users.each_with_index do |feed, i|
    %li.user{:class => i%2 == 0 ? "even" : "odd"}
      .avatar
        %a{:href => "/users/#{feed.author.username}"}
          %img{:alt => "avatar", :src => feed.author.avatar_url}/

      .name
        %a{:href => "/users/#{feed.author.username}"}
          %b
            = feed.author.name
          %br
          (#{feed.author.username})

      - if current_user.following? feed.url
        .follow.negative
          %a.button{:href => "/users/#{feed.author.username}/unfollow"}
            Unfollow
