%h1 #{title}
%ul.user-list
  - @users.each_with_index do |feed, i|
    %li.user{:class => i%2 == 0 ? "even" : "odd"}
      -user_url = feed.local? ? "/users/#{feed.author.username}" : feed.author.url
      -unfollow_url = feed.local? ? "/users/#{feed.author.username}/unfollow" : "/feeds/#{feed.id}/unsubscribe"
      .avatar
        %a{:href => user_url}
          %img{:alt => "avatar", :src => feed.author.avatar_url}/

      .name
        %a{:href => user_url}
          %b
            = feed.author.name
          %br
          (#{feed.author.username})

      - if current_user && current_user.feed != feed
        - if current_user.following?(feed.url)
          .follow.negative
            %form{:method => "post", :action => "/subscriptions/#{feed.id}"}
              %input{:type => "hidden", :name => "_method", :value => "delete"}
              %input.button.unfollow{:type => "submit", :value => "Unfollow", :id => "unfollow-#{feed.id}"}
        - else
          %form{:method => "post", :action => "/subscriptions"}
            %input{:type => "hidden", :name => "url", :value => "/feeds/#{feed.id}"}
            %input.button.follow{:type => "submit", :value => "Follow", :id => "follow-#{feed.id}"}

- unless @prev_page.nil?
  %a.button{:href => @prev_page, :id => "prev_button"}
    &laquo; Previous

- unless @next_page.nil?
  %a.button{:href => @next_page, :id => "next_button"}
    Next &raquo;

- content_for :javascript do
  %script{:src=>"/js/users.js"}
