#profile.vcard
  %h3.fn= @author.name
  .nickname
    @#{@author.username}
  .following
    Following:
    %a{:href => "/users/#{@author.username}/following"}
      #{@author.user.following.length}
  .followers
    Followers:
    %a{:href => "/users/#{@author.username}/followers"}
      #{@author.user.followers.length}
  .updates
    Updates: #{@author.user.feed.updates.count}
  - unless @author.website.blank?
    .website
      Website:
      - web_url = ""
      - if @author.website[0,7] == "http://" or @author.website[0,8] == "https://"
        - web_url = @author.website
      - else
        - web_url = "http://#{@author.website}"
      %a.url{:rel => "me", :href => web_url}
        = web_url

  %p.note= @author.bio

  - unless current_user and @author.user == current_user
    #follow
      - if current_user and current_user.following? @author.feed.url
        .negative
          %form{:method => "post", :action => "/subscriptions/#{@author.feed.id}"}
            %input{:type => "hidden", :name => "_method", :value => "delete"}
              %input.button.unfollow{:type => "submit", :value => "Unfollow", :id => "unfollow-#{@author.feed.id}"}
          .follow-status You are currently following #{@author.username}
      - elsif current_user
        %form{:method => "post", :action => "/subscriptions"}
          %input{:type => "hidden", :name => "url", :value => "/feeds/#{@author.feed.id}"}
            %input.button.follow{:type => "submit", :value => "Follow", :id => "follow-#{@author.feed.id}"}
        .follow-status You are not following #{@author.username}

  #updates.updates
    != haml :_updates, :locals => {:updates => @updates, :no_highlight => true}

%nav.pagination
  - unless @prev_page.nil?
    %a.button{:href => @prev_page, :id => "prev_button"}
      &laquo; Previous

  - unless @next_page.nil?
    %a.button{:href => @next_page, :id => "next_button"}
      Next &raquo;
