#main
  #stats
    %img{:alt => "avatar", :src => @user.twitter_image}/
    %span.name= @user.username
    %br/
    following: <a href="/users/#{@user.username}/following">#{@user.following.count}</a>
    %br/
    followers: <a href="/users/#{@user.username}/followers">#{@user.followers.count}</a>
    %br/
    updates: #{@user.updates.count}
    %br/
  .feed_item
    .avatar
      %img{:alt => "avatar", :src => @user.twitter_image}/
    .feed_text
      %span.name= @user.username
      %br/
      Testing testing this stuff. Testing some more. Then some more testing and some test. Some text in this text. More. More. More. Text. More...
      .feed_date posted 3 minutes ago
    %div
