#profile
  %h3= @author.name
  .username
    @#{@author.username}

  - unless @author.email.blank?
    .email
      Email:
      %a{:href => "mailto:#{@author.email}"}
        #{@author.email}

  - unless @author.website.blank?
    .website
      Website:
      %a{:href => @author.website}
        #{@author.website}

  %p= @author.bio

  - if current_user and @author.user == current_user
    %a{:href=>"/users/#{current_user.username}/edit"}
      Edit your profile
  - else
    #follow
      - if current_user and current_user.following? @author.feed.url
        .negative
          %a.button{:href => "/users/#{@author.username}/unfollow"}
            Unfollow
          .follow-status You are currently following #{@author.username}
      - elsif current_user
        %a.button{:href => "/users/#{@author.username}/follow"}
          Follow
        .follow-status You are not following #{@author.username}

  #updates.updates
    != haml :_updates, :locals => {:updates => @author.feed.updates.to_a.sort{|a, b| b.created_at <=> a.created_at }}
