- content_for :top do
  #profile.vcard
    
    %h3.fn= @author.name
    .nickname  @#{@author.username}
    
    .edit
      %a{:href => "/users/#{@author.username}/edit"}Edit

    .info
      - unless @author.website.blank?
        .website
          - web_url = ""
          - if @author.website[0,7] == "http://" or @author.website[0,8] == "https://"
            - web_url = @author.website
          - else
            - web_url = "http://#{@author.website}"
          %a.url{:rel => "me", :href => web_url}
            = web_url

      %p.note= @author.bio

    %ul.stats
      %li.update-count
        .icon
        %a{ :href => "#profile_updates"}= current_user.feed.updates.count
        Updates
      %li.following-count
        .icon
        %a{ :href => "/users/#{current_user.username}/following"}= current_user.following.length
        Following
      %li.follower-count
        .icon
        %a{ :href => "/users/#{current_user.username}/followers"}= current_user.followers.length
        Followers
      %li.atom.last
        .icon
        %a{} Atom
        Feed
        
    - unless current_user and @author.user == current_user
      #follow
        - if current_user and current_user.following? @author.feed.url
          .negative
            %form{:method => "post", :action => "/subscriptions/#{@author.feed.id}"}
              %input{:type => "hidden", :name => "_method", :value => "delete"}
                %input.button.unfollow{:type => "submit", :value => "Unfollow", :id => "unfollow-#{@author.feed.id}"}
            .follow-status You are currently following #{@author.username}
        - elsif current_user
          %form{:method => "post", :action => "/subscriptions"}
            %input{:type => "hidden", :name => "url", :value => "/feeds/#{@author.feed.id}"}
              %input.button.follow{:type => "submit", :value => "Follow", :id => "follow-#{@author.feed.id}"}
          .follow-status You are not following #{@author.username}

!= haml :"updates/_list", :locals => {:updates => @updates, :id => "profile_updates", :no_highlight => true}
