!!! 5
%html.no-js{:lang => "en"}
  != haml :"shared/_head", :locals => {:title => @update.text}
  %body#single-update
    != haml :"shared/_header"          
    != @error_bar
    != haml :"shared/_flash"

    #page
      != yield
