!!! 5
%html.no-js{:lang => "en"}
  != haml :"shared/_head", :locals => {:title => @update.text}
  %body#update
    != haml :"shared/_header"          
    != @error_bar
    != haml :"shared/_flash"

    #page.single-update.update
      != yield
    != haml :"shared/_footer"
