#single-update
  .update-text-wrap
    .update-text
      != @update.to_html
  .byline
    .update-date
      = @update.created_at.ago_in_words  
      by
    %a{:href => "/users/#{@update.user.username}"}
      .avatar
        %img{:alt => "avatar", :src => @update.user.avatar_image_url}/
      .name
        = @update.user.username
    - if current_user and @update.user.username == current_user.username
      %form{:method => "post", :action => "/updates/#{@update.id}"}
        %input{:type => "hidden", :name => "_method", :value => "delete"}
        %input.remove-update{:type => "submit", :value => "I Regret This"}

  :javascript
    $(document).ready(function(){
      $(".remove-update").click(function(){
         var r = confirm("Are you sure you want to delete this update?"); 
         return r;
      })    
    })
